@model EntityLayer.Concrate.Blog

@{
    ViewBag.Title = "Admin | Blog Düzenleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="card card-blue">
            <div class="card-header">Blog Güncelle</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        @Html.HiddenFor(x => x.BlogID)
                        @Html.Label("Blog Başlığı")
                        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Kategori")
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("İçerik")
                        @Html.TextAreaFor(x => x.BlogContent, 9, 20, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })
                        <br />
                    </div>
                    <div class="col-sm">
                        @Html.Label("Tarih")
                        @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BlogDate, "", new { @class = "text-danger" })
                        <br />

                        @Html.Label("Yazar")
                        @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.AuthorID, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Mevcut Fotoğraf")
                        <br />
                        <img src="@ViewBag.image" class="rounded img-fluid h-50 w-75">

                    </div>
                </div>
                @Html.Label("Resim Yolu")
                @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-danger" })
                <br />
                <br />
                <button class="btn btn-info">Güncelle</button>
                <a href="/Blog/AdminBlogList/" class="btn btn-danger">Vazgeç</a>
            </div>
        </div>
    </div>
}